<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <h1>Add Product</h1>
        <form action="/add" method="post">
            <input type="text" name="name" placeholder="enter name">
            <input type="text" name="price" placeholder="enter price">
            <input type="submit" name="submit" id="submit">
        </form>
    </div>
    
</body>
</html>